<h1>Particular Teacher</h1>
<strong>NAME</strong> = <%= @teacher.name %><br>
<strong>AGE</strong> = <%= @teacher.age %><br>
<strong>EXPERIENCE</strong> = <%= @teacher.experience %><br><br>
<%= link_to "Total teachers",teachers_path %>